.contact {
  text-align: center;
  padding: 60px;
}

.contact h5 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.contact h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact .btn {
  padding: 6px;
  border: 2px solid #1f2937;
  color: #fff;
  background: #1f2937;
  margin-bottom: 14px;
}

.contact .btn:hover {
  background: #000;
}

.contact p {
  color: #6b7280;
  font-size: 14px;
  font-weight: 500;
}

.contact p span {
  color: #1f2937;
  font-weight: 600;
  font-size: 13px;
}
