@media screen and (max-width: 1230px) {
  .category__title {
    width: 40%;
  }

  .category__desc {
    width: 60%;
  }

  .category__Projects {
    flex-wrap: wrap;
  }

  .project-card {
    width: 48%;
  }
}
@media screen and (max-width: 992px) {
  .showcase {
    padding: 80px 30px 100px;
  }
  .category__title,
  .category__desc,
  .career__jobs,
  .career__awards {
    width: 100%;
    /* border: 1px solid; */
  }

  .category__header {
    flex-direction: column;
  }

  .category__projects {
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .category__title {
    margin-bottom: 20px;
  }

  .career {
    padding: 60px 30px 80px;
    flex-direction: column;
    gap: 60px;
  }
}
@media screen and (max-width: 768px) {
  .showcase__header h3 {
    font-size: 24px;
  }
  .category__title h4 {
    font-size: 20px;
  }

  .project-card {
    width: 100%;
    height: 500px;
  }

  .project-card__image {
    height: 300px;
  }
}
